*{
padding: 0;
margin: 0;
}
.home-box{
    /* background-color: #413C69; */
    padding-top: 50px;
    color: #A7C5EB;
    height: 100vh;
    width: 100%;
    /* position: absolute; */
    
    
    
}

@media only screen and (max-width: 600px){
  .home-box{
    height: 90vh;
  }
}

.hi-animation{
    animation-name: hi-Animation;
    animation-duration: 5s;
    font-size: 1rem;
    text-shadow: 0px 5px 5px rgb(0, 0, 0 );
    
  }
  @keyframes hi-Animation{
    20%
    {
      color: #A7C5EB;
      text-shadow: none;
    }
    0% 
    {
      color: transparent;
      
    }
  }
  
  .h2-style {
    animation-name: name;
    animation-duration: 6s;
    font-size: 1.8rem;
    color: #A7C5EB;
    font-weight: 900;
    
  
  }

  @keyframes name{
    0%
    {
      color: #A7C5EB;
      text-shadow: none;
    }
    0% 
    {
      color: transparent;
      
    }
  }


  
  .p-style{
    font-size: 1rem;
    color: #A7C5EB;
    
    
  }


  .download-cv{
      background-color: #A7C5EB;
      border: none;
      border-radius: 5px;
      height: 30px;
      width: 90px;
      color: #000;
      margin: 10px;
      
  }

  .download-cv a {
    text-decoration: none;
    color: #000;
  }

  .download-cv a:hover{
    color: #A7C5EB;
  }

  .download-cv:hover{
    transform: translateY(-8%);
    background-color:#0E49B5 ;
    
    box-shadow: 0px 3px 3px rgb(0, 0, 0 );
  }

.lets-talk{
color:#A7C5EB ;
background-color: transparent;
border-color: #A7C5EB;
border-radius: 5px;
height: 30px;
width: 90px;

  }

  .profile-pic{
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 3px 3px rgb(0, 0, 0 );
    width: 250px;
    margin-top: 50px;
    opacity: 0.8;
}



  @media only screen and (max-width: 600px){
    .profile-pic{
      width: 200px;
      margin-top: 60px ;
      padding-bottom: 0;
      margin-bottom: 0;
    }  
  }