#skills{
    height: 100vh;
    width:100%;
    
    
}

#skills h5 {
    color: #000;
    
    
}

#skills h2 {
    color:#A7C5EB;
    padding-bottom: 2rem;
}


.section-skills{
    /* background-color: aqua; */
    display: grid;  
    grid-template-columns: repeat(1, 3fr);
    grid-template-columns: 10% 80% 10%;
    place-items: center;
    border: black 3px;
    
    
}

@media only screen and (max-width: 600px){
    .section-skills{
        width: 100%;
    }
}


.container-skills{
    margin: 0 auto;
    overflow: hidden;
    width: 30%;
    
    border-radius: 2rem;
    /* background-color: black; */
    box-shadow: 0px 5px 5px rgb(0, 0, 0.3);

}
@media only screen and (max-width: 600px){
    .container-skills{
        width: 100%;
    }
}


.slider{
    display: flex;
    cursor: grap;

}

.item{
    height: 30rem;
    max-width: 40rem;
    padding: 2rem;
    /* background-color: aliceblue; */
}

.item img{
    height: 60%;
    pointer-events: none;
    margin: auto;
    padding-top: 5.5rem;
    padding-left: 1.5rem;
    /* box-shadow: 0px 5px 5px rgb(0, 0, 0.3); */
}

@media only screen and (max-width: 600px){
    .item img {
        padding-left: 0rem;
        padding-right: 1.3rem;
    }
}

.btn-right {
    font-size: 3rem;
    color: brown;
    
    
}


.btn-left{
    font-size: 3rem;
    
    
}

