#skills{
    height: 100vh;
    width: 80%;
    margin: auto;
}




.container-skills{
    margin: 0 auto;
    overflow: hidden;
    width: 30%;
    border: 1px solid;
    
}

.slider{
    display: flex;
    cursor: grap;

}

.item{
    height: 30rem;
    max-width: 40rem;
    padding: 2rem;
    
}

.item img{
    height: 60%;
    pointer-events: none;
}