.contact_section{
    height: 100vh;
    padding-top: 10rem;
}

.small-title {
    color: #FFD369;
    font-weight: lighter;
}

.big-title{
    color: #FFD369;
    font-weight: lighter;
}

.container.contact_container {
    width:  58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
    margin: auto;
}

.contact_options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact_option {
    background-color: #FFD369;
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid #000000;
    transition: all 0.8s;
    color: #000000;
    font-weight: lighter;
}

.contact_option:hover{
    background-color: transparent;
    color: #FFD369;
    transform: translateY(-5%);
    border: 1px solid #FFD369;
}

.contact_icon {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;

}



.contact_option a {
    text-decoration: none;
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 1rem ;
    color: #393E46;
}

.contact_option a:hover{
    color: #FFD369;
}

/*  FORM  */

form{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 0.5px solid #FFD369;
    resize: none;
    color: #ffF;
}

/* QUERIES */

@media screen and (max-width:1024px){
    .container.contact_container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

@media screen and (max-width: 600px) {
    .container.contact_container{
        height: 100vh;
        width: 90%;
        margin: auto;
    }

    form {
        width: 85%;
        margin-top: 0;
    }
}

