#footer{
    /* height: 15rem; */
    
}

.footer {
    height: 17rem;
    width: 50%;
    margin: auto;
    border-top: solid 1px #FFD369;
    color: #FFD369;
    text-align: center;
    /* background-color: #000000; */
}

.footer h3 {
    padding-top: 1rem;
    font-size: 1rem;
    color: #FFD369;
    font-weight: lighter;
}

.social-follow ul  {
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    list-style: none;
}
.social-follow ul li{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 3rem;
}

.social-icon{
    color:#FFD369;
}


.footer h4{
    padding-top: 1rem;
    font-size: 0.8rem;
    color: #FFD369;
    font-weight: lighter;
}