.App {
  text-align: center;
  
  background-color: #040303;
  font-family: 'Nunito', sans-serif;
  background-image: repeating-linear-gradient(90deg, rgba(240, 236, 10, 0.021), rgb(17, 17, 17) 0.1px, transparent 0.1px, transparent 1px);
}






